.post{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: #eeebeb;
    border-radius: 5px;
    cursor: pointer;
    max-width: 700px;
    box-shadow: 2px 3px 6px rgba(187, 187, 187, 0.5);
    border: none;
    margin: 10px 0px 10px 0px;
}

.post_info{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    
}
.post_body{
    display: flex;
    justify-content: space-between;
}


.post__footer {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .post__footer > .MuiSvgIcon-root {
    color: gray;
    margin-right: 40px;
    cursor: pointer;
  }
  
  .post__footerAction {
    background-color: lightgray;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 33px;
  }
  .post__footerAction > .MuiSvgIcon-root {
    color: gray;
    margin-right: 40px;
    cursor: pointer;
  }
  
  .post__footerAction > .MuiSvgIcon-root:hover {
    color: rgb(0, 140, 255);
    margin-right: 40px;
  }
  
  .post__footerRight {
    margin-left: auto;
    display: flex;
  }
  
  .post__footerRight > .MuiSvgIcon-root {
    color: gray;
    cursor: pointer;
    margin-left: 30px;
  }

  .modal__button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
  }
  
  .modal__button > .cancle {
    border: none;
    margin-top: 10px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
  
  .modal__button > .cancle:hover {
    color: red;
  }
  .modal__button > .add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: #222;
    color: white;
    font-weight: 700;
    padding: 10px;
    border-radius: 33px;
    cursor: pointer;
    width: 50%;
  }
  .modal__button > .add:hover {
    background-color: #eee;
    color: #222;
  }
  .modal__answer {
    display: flex;
    padding-top: 20px;
    height: 68%;
    flex: 1;
  }
  
  .modal__answer > textarea {
    width: 75%;
    height: 150px;
    padding: 5px;
    font-size: 15px;
    color: black;
  }
  
  .quill {
    width: 100%;
    height: 100px;
  }
  