.post{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    max-width: 700px;
    box-shadow: 2px 3px 6px rgba(187, 187, 187, 0.5);
    border: none;
    margin: 10px 0px 10px 0px;
}

.post_info{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    
}
.post_body{
    display: flex;
    justify-content: space-between;
}


.post__footer {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .post__footer > .MuiSvgIcon-root {
    color: gray;
    margin-right: 40px;
    cursor: pointer;
  }
  
  .post__footerAction {
    background-color: lightgray;
    padding: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 33px;
  }
  .post__footerAction > .MuiSvgIcon-root {
    color: gray;
    margin-right: 40px;
    cursor: pointer;
  }
  
  .post__footerAction > .MuiSvgIcon-root:hover {
    color: rgb(0, 140, 255);
    margin-right: 40px;
  }
  
  .post__footerRight {
    margin-left: auto;
    display: flex;
  }
  
  .post__footerRight > .MuiSvgIcon-root {
    color: gray;
    cursor: pointer;
    margin-left: 30px;
  }

  .modal__answer {
    display: flex;
    flex-direction: column; /* Change to column layout */
    padding-top: 20px;
    height: 100%;
}

.modal__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px; /* Reduce the margin */
    width: 100%;
}

.modal__buttons > .cancel {
    border: none;
    outline: none;
    color: gray;
    font-weight: 500;
    border-radius: 33px;
    cursor: pointer;
}

.modal__buttons > .cancel:hover {
    color: red;
}

.modal__buttons > .add {
    border: none;
    outline: none;
    background-color: #222;
    color: white;
    font-weight: 700;
    border-radius: 33px;
    cursor: pointer;
    width: 50%;
}

.modal__buttons > .add:hover {
    background-color: #eee;
    color: #222;
}

.modal__answer > textarea {
    width: 100%; /* Adjust the width */
    height: 100%;
    padding: 5px;
    font-size: 15px;
    color: black;
}

.react-responsive-modal-modal {
    height: 85%;
}

.quill {
    width: 100%;
    height: 50%;
}

span{
  margin-right: 25px;
}
