.question_box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
    max-width: 700px;
    box-shadow: 2px 3px 6px rgba(187, 187, 187, 0.5);
    border:none;
  }
  
  .question_box:hover {
    border: 1px solid rgb(175, 175, 175);
  }
  
  .question_info {
    display: flex;
    align-items: center;
  }
  
  .question_info > h5 {
    color: rgb(129, 129, 129);
    font-weight: bold;
    margin-left: 10px;
    font-size: large;
  }
  
  .description {
    display: flex;
    margin-top: 8px;
  }
  